--cc-bg: #000000;
--cc-text: #b8bfcc;
--cc-btn-primary-bg: #8892ec;
--cc-btn-primary-text: var(--cc-bg);
--cc-btn-primary-hover-bg: #555faf;
--cc-btn-secondary-bg: #1d2029;
--cc-btn-secondary-text: #bdc2d6;
--cc-btn-secondary-hover-bg: #16161f;
--cc-toggle-bg-off: #000000;
--cc-toggle-bg-on: #3a3da9;
--cc-toggle-bg-readonly: #1b2029;
--cc-toggle-knob-bg: #b3c6fd;
--cc-toggle-knob-icon-color: #8892ec;
--cc-block-text: var(--cc-text);
--cc-cookie-category-block-bg: #111317;
--cc-cookie-category-block-bg-hover: #15181d;
--cc-section-border: #000000;
--cc-cookie-table-border: #1d2029;
--cc-overlay-bg: rgba(15, 16, 21, .9);
--cc-webkit-scrollbar-bg: #2b2c3c;
--cc-webkit-scrollbar-bg-hover: #8892ec;
